:host {
    
    flex-direction: column;
    align-items: center;
    height: 80vh;
    display: flex;
    width: 100%;


    .signup-container {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 1rem;
        padding: 2rem;
        max-width: 720px;
        height: 70vw;
        max-height: 720px;
        display: flex;
        align-items: center;
    }
    
    h2 {
        font-size: 32px;
        color: rgb(255, 196, 86);
        padding-bottom: 1rem;
    }

    form {
        width: 500px;
        max-width: 500px;
        display: flex;
        flex-direction: column;

        ::placeholder {
            color: rgba(255, 255, 255, 0.4);
        }

        input, textarea {
            resize: none;
            border-radius: 8px;
            border: none;
            padding: 0.5rem 8px;
            background-color: rgba(255, 255, 255, 0.2);
            font-weight: 400;
            color: white;
          }

        [type=submit] {
            background-color: rgb(255, 196, 86);
            font-weight: 700;
            max-width: 200px;
        }
    }
}