<div class="card" *ngFor="let scripture of scripturesList">
  
  <span (click)="showName(scripture.id)">
    <h3 *ngIf="getCardState(scripture.id).showName" class="card-header">
      {{ scripture.name }}
      <mat-icon>visibility</mat-icon>
    </h3>
    <h3 *ngIf="!getCardState(scripture.id).showName" class="card-header dont-show">
      Ver texto
      <mat-icon>visibility_off</mat-icon>
    </h3>
  </span>

  <p class="card-text" (click)="showModal(scripture)">{{ scripture.text }}</p>

  <nav>
    <button
      [ngClass]="[getCardState(scripture.id).knew ? 'knew-button active' : 'knew-button']"
      (click)="setAsKnew(scripture.id)"
    >
      <mat-icon>radio_button_unchecked</mat-icon>
    </button>

    <button
      [ngClass]="[
      getCardState(scripture.id).toMemorize
          ? 'to-memorize-button active'
          : 'to-memorize-button'
      ]"
      (click)="setAsToMemorize(scripture.id)"
    >
      <mat-icon>check_box_outline_blank</mat-icon>
    </button>

    <button class="delete-button" (click)="delete(scripture.id)">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
  </nav>
</div>
